{{!-- <style>
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:aquamarine;
        color:black;
        text-align: center;
    }
</style> --}}
<footer>
    <p>Created by {{name}}</p>
</footer>

{{!-- <div class = "footer">
    <p>Created by {{name}}</p>
</div> --}}
